.idea
.DS_Store
admin/src/main/resources/generator/config.properties
bonus/src/main/.DS_Store
*.log
*.gz
*.ipr
*.iws
*.iml
*.tmp
*.iml
*.class

#maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

out/

# Gradel
.gradle/
build/

# IDEA
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
