<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mubbs.seata.storage.dao.storage.StorageMapper">
  <resultMap id="BaseResultMap" type="org.mubbs.seata.storage.domain.entity.storage.Storage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="storage_id" jdbcType="INTEGER" property="storageId" />
    <result column="goods" jdbcType="VARCHAR" property="goods" />
    <result column="storage_count" jdbcType="INTEGER" property="storageCount" />
  </resultMap>
</mapper>